/*header{
	overflow: hidden;
	background-color: #33ccff;
	height: 70px;
}
.header h1{
	position:relative;
	float:left;
	font-size: 30px;
	color: #334d4d;
}
#logo{
	position:relative;
	float:right;

}
#login{
	    margin: auto;
    width: 50%;
    border: 3px solid green;
}*/
body{
	/*background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)),url("images/es4.jpg");*/
	background-image:url("images/es1.jpg");
	height: 100vh;
	background-repeat: no-repeat;
	/*background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

label{
	font-weight: bold;
}

/*nav{
			overflow: hidden;

		background-color: #ffffcc;

}
nav h1{
	position:relative;
	float:left;
	font-size: 30px;
	padding: 10px;

}
form{
	width:20%;
	border: 3px solid #ffff1a;
	padding: 20px;
	float:left;
	margin:10px;
	background-color: #33cc33;
	
}
input{
	float:right
	
}
.forms h2{
	border-bottom: 3px solid #ffff1a;
	
}
.forms form{
	overflow: hidden;
	position:relative;
}
body{
	background-color:#00004d;
}*/